*.sln 
.vs/* 
*.vcxproj 
*.vcxproj.vcxproj.filters 
*.pdb 
*.exp 
*.exe 
*.ilk 
Testing/* 
*.obj 
Debug/* 
ErrorLog/* 
Socket/* 
WinSocketClient/* 
WinSockServer/* 
NetworkProgramming/* 
NetworkProgrammig/* 
WinSockClient/* 
