*.sln 
.vs/* 
*.vcxproj 
*.vcxproj.vcxproj.filters 
*.pdb 
*.exp 
 
*.ilk 
Testing/* 
*.obj 
Debug/* 
ErrorLog/* 
Socket/* 
WinSocketClient/* 
WinSockServer/* 
NetworkProgramming/* 
NetworkProgrammig/* 
WinSockClient/* 
*.exe 
Journal/* 
JournalTest/* 
LogFile/* 
LogFileTests/* 
*.txt 
